body {
  margin: 0;
}



.body {
  width: 100vw;
  height: 100vh;
  background-image: url('./logolar/logo1.png');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.container {
  width: 50%; 
  height: 50%; 
  border: 3px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.baslık {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user,
.password {
  margin-bottom: 15px;
  width: 100%;
}

label {
  font-weight: bold;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color:blue;
  color: #fff;
  border:none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
 
}

button:hover {
  background-color:blue;
}

a {
  margin-bottom: 10px;
  color: blue;
  text-decoration: none;
  margin-right: 5px;
}

a:hover {
  text-decoration: underline;
}

.kayıt{
  width: 100vw;
  height: 100vh;
  background-image: url("./logolar/logo2.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  mix-blend-mode: darken;
}

.containerKayit{
  width: 60%; 
  height: 60%; 
  border: 3px solid rgb(128, 128, 128);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.isim,.sifre,.telefon,.email{
  margin-bottom: 15px;
  width: 100%;
  color:rgb(162, 153, 181);
  font-weight: bold;
}
.baslıkKayit{
  color:black;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttonKayit{
  padding: 10px 20px;
  background-color:black;
  color:white;
  border:none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}

.buttonKayit:hover {
  background-color:black;
}

.Filtrele{
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('./logolar/Filtrele.png');
  mix-blend-mode: darken;
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.App {
  text-align: center;
}


  header {
    background-color: rgba(33, 33, 243, 0.988);
    display:block;
    margin-top: 50px;
    text-align: right;
      
  }


nav{
display: block;
/* align-items: center; */
}

nav a{
  float: none; 
  /* margin-right: 10px;
  text-decoration: none;  */
  color: white;
}

img {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}


