.arama-cubugu {
    display: flex;
    margin-bottom: 20px;
  }
  
  .arama-cubugu input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .arama-cubugu button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .son-faturalar,
  .odeme-gecmisi {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .son-faturalar h2,
  .odeme-gecmisi h2 {
    margin-top: 0;
  }
  
  .son-faturalar ul,
  .odeme-gecmisi ul {
    list-style: none;
    padding: 0;
  }
  
  .son-faturalar li,
  .odeme-gecmisi li {
    margin-bottom: 10px;
  }
  
  .son-faturalar a,
  .odeme-gecmisi a {
    text-decoration: none;
    color: #007bff;
  }
  .odeme-yontemleri {
    margin-top: 20px;
  }
  
  .odeme-yontemleri select {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .kredi-karti-bilgileri,
  .banka-hesap-bilgileri {
    margin-top: 20px;
  }
  
  .kredi-karti-bilgileri input,
  .banka-hesap-bilgileri input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }